body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #e3eae3; /* branco */
  color: #05ac8c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: linear-gradient(
    135deg,
    #f9f9f9,
    #e3eae3
  ); /* Gradiente de fundo */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
  padding: 40px; /* Aumenta o espaçamento interno */
  max-width: 400px; /* Largura máxima do container */
  margin: 20px auto; /* Centraliza o container */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transição suave */
  display: flex; /* Usar flexbox */
  flex-direction: column; /* Alinha os itens em coluna */
  gap: 15px; /* Espaçamento entre os elementos */
}

.container:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3); /* Sombra ao passar o mouse */
  transform: translateY(-2px); /* Levanta o container ao passar o mouse */
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-festival {
  max-width: 80px; /* Ajuste o tamanho conforme necessário */
}
.logo-e2carbon {
  max-width: 130px; /* Ajuste o tamanho conforme necessário */
}
.logo-ipass {
  max-width: 80px; /* Ajuste o tamanho conforme necessário */
}

h2 {
  margin: 10px 0;
  font-size: 1.5em;
}

p {
  margin: 10px 0 20px;
  font-size: 0.9em;
}

.container label {
  font-weight: bold; /* Deixa o texto em negrito */
  margin-bottom: 5px; /* Adiciona espaçamento abaixo do label */
  display: block; /* Faz o label ocupar toda a largura */
}

.input-group {
  display: flex; /* Usar flexbox para os grupos de input */
  flex-direction: column; /* Alinha os itens em coluna */
}

.input-group select,
.input-group input {
  width: 100%; /* Largura total do input */
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Borda do input */
  border-radius: 5px; /* Bordas arredondadas */
}

.remember-me {
  display: flex; /* Alinha os itens em linha */
  align-items: center; /* Alinha verticalmente */
  justify-content: space-between; /* Espaça os itens */
}

.remember-me a {
  color: #05ac8c; /* Cor do link */
  text-decoration: none; /* Remove o sublinhado */
}

.remember-me a:hover {
  text-decoration: underline; /* Sublinha ao passar o mouse */
}

#entrar {
  background-color: #05ac8c; /* Cor do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove borda */
  border-radius: 5px; /* Bordas arredondadas */
  padding: 10px; /* Espaçamento interno */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  width: 100%; /* Largura total do botão */
  transition: background-color 0.3s; /* Efeito de transição */
}

#entrar:hover {
  background-color: #048f7a; /* Cor ao passar o mouse */
}

.ipass {
  display: flex; /* Adiciona flexbox */
  justify-content: center; /* Centraliza o ícone horizontalmente */
  margin-top: 20px; /* Ajusta o espaçamento acima */
  width: 100%; /* Garante que ocupe toda a largura do container */
  font-size: 1.5em;
  font-weight: bold;
}

footer {
  background-color: #05ac8c; /* Nova cor */
  color: #ffffff; /* Texto branco */
  padding: 10px; /* Ajuste o padding */
  text-align: center;
  position: fixed; /* Fixa o footer na parte inferior */
  bottom: 0; /* Alinha o footer na parte inferior */
  left: 0; /* Alinha o footer à esquerda */
  width: 100%; /* Largura total */
  z-index: 1000; /* Garante que o footer fique acima de outros elementos */
}

.footer-content {
  max-width: 1200px; /* Largura máxima do conteúdo */
  margin: 0 auto; /* Centraliza o conteúdo */
  font-size: 0.8em; /* Tamanho da fonte reduzido */
}

.footer-links {
  margin: 10px 0;
  display: flex; /* Usar flexbox para disposição */
  justify-content: center; /* Centraliza os links */
  flex-wrap: wrap; /* Permite que os links quebrem para a próxima linha */
}

.footer-links a {
  color: #ffffff; /* Texto branco */
  text-decoration: none; /* Remove sublinhado */
  margin: 0 10px; /* Espaçamento entre os links */
}

.footer-links a:hover {
  text-decoration: underline; /* Sublinha ao passar o mouse */
}

.footer-links .instagram-icon {
  margin-left: 10px; /* Espaçamento à esquerda do ícone */
  color: #ffffff; /* Cor do ícone */
  font-size: 20px; /* Tamanho do ícone */
}

.footer-rights {
  margin-top: 10px; /* Espaçamento acima do texto de direitos autorais */
  font-size: 0.7em; /* Tamanho da fonte reduzido */
}

.top-container {
  background-color: #05ac8c; /* Cor de fundo */
  display: flex;
  justify-content: space-between; /* Espaça os itens uniformemente */
  align-items: center; /* Alinha verticalmente */
  padding: 20px 20px; /* Espaçamento interno */
  position: fixed; /* Fixa o container na parte superior */
  top: 0; /* Alinha o container ao topo da página */
  left: 0; /* Alinha o container à esquerda */
  width: 100%; /* Largura total */
  z-index: 1000; /* Garante que fique acima de outros elementos */
}

.top-content {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  flex-grow: 1; /* Permite que o conteúdo ocupe o espaço disponível */
}

.top-buttons {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  margin-left: auto; /* Move os botões para a direita */
}
.input-with-icon {
  position: relative; /* Para posicionar o ícone */
}

.input-with-icon i {
  position: absolute; /* Posiciona o ícone */
  right: 10px; /* Ajuste a posição horizontal para a direita */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta a posição vertical */
  color: #05ac8c; /* Cor do ícone */
}

.input-container {
  width: 100%; /* Ajusta a largura para ocupar todo o espaço disponível */
  padding: 10px; /* Adiciona um pouco de preenchimento */
  box-sizing: border-box; /* Inclui o preenchimento na largura total */
}

.buttons {
  display: flex; /* Usar flexbox para disposição dos botões */
  justify-content: space-between; /* Espaça os botões */
  margin-top: 20px; /* Espaçamento acima dos botões */
}

#voltar,
#avancar {
  background-color: #05ac8c; /* Cor do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove borda */
  border-radius: 5px; /* Bordas arredondadas */
  padding: 10px 15px; /* Espaçamento interno */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  width: 48%; /* Largura do botão */
  transition: background-color 0.3s; /* Efeito de transição */
}

#voltar:hover {
  background-color: #e60000; /* Cor ao passar o mouse */
}

#avancar:hover {
  background-color: #45a049; /* Cor ao passar o mouse */
}
